 #login_div1{
     background-color:white;
     float: none;
     padding: 10px;
 }
 body{
     background-image:url("https://videohive.img.customer.envatousercontent.com/files/1a8011a5-217f-4a8a-9618-c2ddefbe08e3/inline_image_preview.jpg?auto=compress%2Cformat&fit=crop&crop=top&max-h=8000&max-w=590&s=c2d3e49302699ffe29d8b925ff6bad7c") ;
     font-family: monospace;
     background-size: cover;
 }

 .line {
    height: 6px;
    background-color:white;
    width: 70px;
    margin: 8px auto;
 }

 h1{
     color: white;
 }

 
